.container-fluid{
    background-color: rgb(153, 152, 220);
    margin-left: 10%;
    margin-top: 10px;
    padding-bottom: 40px;
    padding-top: 13px;
    padding-left: 15px;
    width: 80%;
    
}
.form-group input{
width: 100%;
margin: auto;
margin-bottom: 5px;
/* margin-left: 10%; */
}
#btn{
    width: 20%;
}
input{
    margin-bottom: 5px;
}
button{
    margin: 5px;

}
h2{
    border-bottom: 3px solid rgb(186, 126, 100);
    /* margin-bottom: 4px; */
    text-align: center;
    color: rgb(55, 2, 250);
}